*{
	padding: 0;
	margin: 0;
}

header{
	height: 100%;
	background-color: #CB5C5C;
}

img#Logo{
	height: 10%;
	width: 10%;
	display: block;
 	margin: 0px auto;
}

h1#Nombre{
	text-align: center;
	font-size: 50px;
	font-family: 'Radio Canada', sans-serif;
}

h3#Slogan{
	text-align: center;
	font-size: 30px;
}

body{
	background-color: lightgray;
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
} 

nav li{
    display:inline-block;
    width:25%;
    padding: 1%;
    background-color:#000;
    border:1px solid white;
    text-align:center;
    color:#fff;
}
nav li:hover{
    background-color:gray;
    color:#000;
    transition: 0.5s;

}

div.redes{
	background-color: beige;
	height: 150px;
	width: 300px;
	display: inline-table;
	margin: 0px auto;
	margin-top: 1%;
	margin-left: 13%;
	margin-bottom: 1%;
	margin-right: -10%;
	align-items: center;
	justify-content: center;

}

div.imagen img{
	height: 30%;
	width: 30%;
	margin-top: 40px;
	margin-left: 35%;
}

div.texto p{
	font-size: 30px;
	color: black;
	display: block;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 25px;
	padding-top: 10px;
}

div.correo p{
	margin-bottom: 20px;
	font-size: 26px;
	text-align: center;
}

div.gmail{
	background-color: beige;
	height: 150px;
	width: 300px;
	display: inline-table;
	margin: 0px auto;
	margin-top: 1%;
	margin-left: 13%;
	margin-bottom: 2%;
	margin-right: -10%;
	align-items: center;
	justify-content: center;

}