

div.redes{
	background-color: beige;
	height: 250px;
	width: 500px;
	display: inline-table;
	margin-top: 1%;
	margin-left: 13%;
	margin-bottom: 1%;
	margin-right: -10%;
}

div.imagen img{
	height: 30%;
	width: 30%;
	margin-top: 40px;
	margin-left: 35%;
}

div.texto p{
	font-size: 30px;
	color: black;
	display: block;
	text-align: center;
	padding-left: 10px;
	padding-bottom: 25px;
	padding-top: 10px;
}

div.correo p{
	margin-bottom: 20px;
	font-size: 26px;
	text-align: center;
}

div.gmail{
	background-color: beige;
	height: 255px;
	width: 500px;
	display: inline-table;
	margin-top: 1%;
	margin-left: 13%;
	margin-bottom: 2%;
	margin-right: -10%;
	align-items: center;
	justify-content: center;

}

